.logo {
    width: 20%;
    margin: auto;
    display: block;
}

#share {
    text-align: right;
}

.btn {
    color: #FFFFFF;
    background-color: #E4017D;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    color: #FFFFFF;
    background: #FFA336;
}

footer {
    text-align: center;
    margin: 0;
    font-size: 10px;
}

.title_us {
    background-color: #E4017E;
    color: #FFFFFF;
    font-size: xx-large;
}

.title_aqours {
    background-color: #1AB0F6;
    color: #FFFFFF;
    font-size: xx-large;
}

.title_nijigasaki {
    background-color: #F8B656;
    color: #FFFFFF;
    font-size: xx-large;
}

.title_liella {
    background-color: #D956D8;
    color: #FFFFFF;
    font-size: xx-large;
}

.name {
    font-size: x-large
}

.member{
    color: gray;
}

.fan{
    font-size: large;
    font-weight: bold;
}

.honoka {
    background-color: #FFA336;
}

.eri {
    background-color: #7AEEFF;
}

.kotori {
    background-color: #CEBFBF;
}

.umi {
    background-color: #1769FF;
    color: #FFFFFF;
}

.rin {
    background-color: #DBD41E;
}

.maki {
    background-color: #FF503E;
}

.nozomi {
    background-color: #C455F6;
}

.hanayo {
    background-color: #5AE673;
}

.niko {
    background-color: #FF4F91;
}

.chika {
    background-color: #FF791B;
}

.riko {
    background-color: #FF7777;
}

.kanan {
    background-color: #00D29E;
}

.dia {
    background-color: #F43232;
}

.you {
    background-color: #2AA4DB;
}

.yoshiko {
    background-color: #AEAEAE;
}

.hanamaru {
    background-color: #CFB0AF;
}

.mari {
    background-color: #A530E0;
    color: #FFFFFF;
}

.ruby {
    background-color: #EE55B7;
}

.ayumu {
    background-color: #ED7D9580;
}

.kasumi {
    background-color: #E7D60080;
}

.sizuku {
    background-color: #01B7ED80;
}

.karin {
    background-color: #485EC680;
}

.ai {
    background-color: #FF580080;
}

.kanata {
    background-color: #A664A080;
}

.setsuna {
    background-color: #D81C2F80;
}

.emma {
    background-color: #84C36E80;
}

.rina {
    background-color: #9CA5B980;
}

.shioriko {
    background-color: #37B48480;
}

.mia {
    background-color: #D6D5CA80;
}

.lanzhu {
    background-color: #F8C8C480;
}

.yu {
    background-color: #1D1D1D80;
}

.kanon {
    background-color: #FF7F27;
}

.keke {
    background-color: #A0FFF9;
}

.chisato {
    background-color: #FF6E90;
}

.sumire {
    background-color: #74F466;
}

.ren {
    background-color: #0000A0;
    color: #FFFFFF;
}

.kinako {
    background-color: #FFF442;
}

.mei {
    background-color: #FF3535;
}

.shiki {
    background-color: #B2FFDD;
}

.natsumi {
    background-color: #FF51C4;
}

.margarete {
    background-color: #E49DFD;
}

.tomari {
    background-color: #4CD2E2;
}

.kaho {
    background-color: #F8B500;
}

.sayaka-m {
    background-color: #5383C3;
    color: #FFFFFF;
}

.kozue {
    background-color: #68BE8D
}

.tsuzuri {
    background-color: #BA2636;
    color: #FFFFFF;
}

.rurino {
    background-color: #E7609E;
}

.megumi {
    background-color: #C8C2C6;
}

.rurika {
    background-color: #73B8E2;
}

.yuzuha {
    background-color: #EFEFEF;
}

.yukino {
    background-color: #F58220;
}

.hikaru {
    background-color: #3C6854;
    color: #FFFFFF;
}

.maya {
    background-color: #E48898;
}

.anzu {
    background-color: #D81F35;
}

.misuzu {
    background-color: #004C71;
    color: #FFFFFF;
}

.toa {
    background-color: #FF8C90;
}

.rena {
    background-color: #ABC900;
}

.sayaka-h {
    background-color: #FFEE50;
}

.madoka {
    background-color: #34582C;
    color: #FFFFFF;
}

.kyoka {
    background-color: #AC3040;
    color: #FFFFFF;
}