.logo{
    width: 20%;
    margin: auto;
    display: block;
}

#share {
    text-align: right;
}

footer {
    text-align: center;
    margin: 0;
    font-size: 10px;
}

.index{
    text-align: center;
    font-size: 200%;
}