.logo {
    width: 20%;
    margin: auto;
    display: block;
}

#share {
    text-align: right;

}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.index{
    text-align: center;
    font-size: 300%;
}

.btn{
    color: #FFFFFF;
    background-color: #E4017D;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover{
    color: #FFFFFF;
    background: #FFA336;
}